/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, button {
  cursor: revert;
}

button {
  border: none;
  background-color: transparent;
}

strong {
  font-weight: 700;
}

ol, ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}