/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

%typeShared {
  font-size: .875rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

%headingShared {
  font-weight: r.$heavy;
  margin-bottom: 1rem;
  letter-spacing: -.075pt;
}

p, ol, ul {
  @extend %typeShared;
  & li {
    font-size: inherit;
    font-weight: inherit;
  }
}

h1, .h1 {
  @extend %headingShared;
  font-size: r.$size * 2;
}

h2, .h2 {
  @extend %headingShared;
  font-size: r.$size * 1.5;
}

h3, .h3 {
  @extend %headingShared;
  font-size: r.$size * 1.17;
}

h4, .h4 {
  @extend %headingShared;
  font-size: r.$size;
}

h5, .h5 {
  @extend %headingShared;
  font-size: r.$size * .83;
}

h6, .h6 {
  @extend %headingShared;
  font-size: r.$size * .67;
}

th, .th, caption, .caption {
  @extend %typeShared;
}
  
table {
  @extend %typeShared;
}

small, .small {
  font-size: .83em;
  font-weight: inherit;
  font-family: inherit;
}