.env
node_modules
.DS_Store
notes.txt
resources/fonts
resources/loremipsum.txt

# gulp output
app/public/bundle.js
app/public/bundle.js.map
app/public/bundle.min.js
app/public/bundle.min.js.map
app/public/main.css
app/public/main.css.map
app/public/main.min.css
app/public/main.min.css.map
app/public/icons.css
app/public/icons.css.map
app/public/icons.test.css
app/public/icons.test.css.map
app/public/icons.min.css
app/public/icons.min.css.map
