/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use 'sass:color';
@use '../abstracts/tools' as *;

@mixin setLinks() {  
  &:link {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
  }
  &:visited {
    color: inherit;
    outline:auto;
  }
  &:hover {
    text-decoration: underline dotted;
  }
  &:focus {
    text-decoration: underline dotted;
    outline: none;
  }
  &:active {
    text-decoration: underline solid;
    outline: none;
  }
}

a {
  @include setLinks();
}