/* article */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.main article {
  flex: 6.5;
  margin-top: 20px;
  @include screen(md) {
    margin-top: 0;
  }
}

.main--border article {
  padding-top: 0;
  @include screen(md) {
    padding-top: 30px;
  }
}

.main--background article {
  padding-top: 0;
  @include screen(md) {
    padding-top: 30px;
  }
}

.article__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

