/* aside */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.main aside {
  flex: 3.5;
  margin-top: 20px;
  @include screen(md) {
    margin-top: 0;
  }
}

.main--rule aside {
  border-top: {
    width: r.$border;
    style: solid;
    color: r.$color;
  }
  padding-top: 30px;
  margin-top: 30px;
  @include screen(md) {
    border-top: none;
    border-left: {
      width: r.$border;
      style: solid;
      color: r.$color;
    }
    padding: {
      // top: 0;
      left: 30px;
    }
    margin-top: 0;
  }
}

.main--border aside {
  border: {
    width: r.$border;
    style: solid;
    color: r.$color;
    radius: r.$radius;
  }
  padding: 30px;
  margin-top: 30px;
  @include screen(md) {
    margin-top: 0;
  }
}

.main--background aside {
  padding: 30px;
  margin-top: 30px;
  border-radius: r.$radius;
  @include setBG(r.$color);
  @include screen(md) {
    margin-top: 0;
  }
}