/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: {
    left: 12px;
    right: 12px;
  }
  @include screen(md) {
    padding: 0;
  }
}