/* grid */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.row {
  @include row();
  flex-wrap: nowrap;
}

.column {
  @include column();
}

.a {
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-baseline {
    align-items: baseline;
  }
}

.j {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-even {
    justify-content: space-evenly;
  }
}

._third {
  flex: 3.3;
}

._quarter {
  flex: 2.5;
}

._half {
  flex: 5;
}

._100 {
  width: 100%;
  flex-basis: auto;
}

._95 {
  flex: 9.5;
}

._90 {
  flex: 9;
}

._85 {
  flex: 8.5;
}

._80 {
  flex: 8;
}

._75 {
  flex: 75;
}

._70 {
  flex: 7;
}

._65 {
  flex: 6.5;
}

._55 {
  flex: 5.5;
}

._50 {
  flex: 5;
}

._45 {
  flex: 4.5;
}

._40 {
  flex: 4;
}

._35 {
  flex: 3.5;
}

._30 {
  flex: 3;
}

._25 {
  flex: 2.5;
}

._20 {
  flex: 2;
}

._15 {
  flex: 1.5;
}

._10 {
  flex: 1;
}