/* header */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.header {
  @include screen(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
  }
}

.header__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  letter-spacing: -2px;
  & a {
    font-weight: 900;
    letter-spacing: -2px;
  }
}


