/* main */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

main {
  flex: 1;
  width: 98%;
  margin: {
    left: auto;
    right: auto;
  }
  @include screen(md) {
    padding-top: 40px;
    max-width: 1200px;
  }
}

.main {
  display: flex;
  flex-direction: column-reverse;
  @include screen(md) {
    flex-direction: row;
    gap: 60px;
  }
}
