<form action="/api/books" method="POST" target="_blank" id="addBook">
  <fieldset>
    <legend>

      <% if (author) { %>
        <span>
          <%= author.fullname %>:
        </span>
        <% } %>
          <span>add book</span>
    </legend>
    <% if (author) { %>
      <input type="hidden" name="author" id="author" value="<%=author._id%>">
      <% } %>
        <label for="title">title</label>
        <input type="text" name="title" id="title">
        <% if (authors) { %>
          <select name="author" id="author">
            <option selected>choose author</option>
            <% authors.forEach(author=> { %>
              <option value="<%= author._id %>">
                <%= author.fullname %>
              </option>
              <% }) %>
          </select>
          <% } %>
            <button type="submit" from="addBook">add</button>
  </fieldset>
</form>