<form action="/api/books?_method=DELETE" method="POST">
  <fieldset>
    <legend>book collection</legend>
    <label for="button">
      Are you sure you want to delete <a href="/books">book</a> collection?
    </label>
    <button type="submit">drop collection</button>
  </fieldset>
</form>