<footer class="footer">
  <p class="footer__api">
    <small>api:
      <a href="/api/authors" target="_blank">authors</a>
      <i class="fa-thin fa-pipe"></i>
      <a href="/api/books" target="_blank">books</a>
      <i class="fa-thin fa-pipe"></i>
      <a href="/api/photos" target="_blank">photos</a>
    </small>
  </p>
  <p class="footer__credit"><small>starter &copy; 2022 </small></p>
  <p class="footer__btt"><small><a href="#topOfPage">back to top</a></small></p>
</footer>