<header class="header" id="topOfPage">
  <h1 class="header__title">
    <a href="/">starter</a>
    <button id="menuBtn" class="header__menu-btn" type="button" aria-controls="topNavigation" aria-expanded="false"><i
        id="menuIcon" class="fa-solid fa-bars"></i></button>
  </h1>
  <nav class="top-navigation" id="topNavigation" role="navigation">
    <ul id="navList" class="nav__list">
      <li class="nav__item"><a class="nav__link" href="/">home</a></li>
      <li class="nav__item"><a class="nav__link" href="/authors">authors</a></li>
      <li class="nav__item"><a class="nav__link" href="/books">books</a></li>
      <li class="nav__item"><a class="nav__link" href="/photos">photos</a></li>
      <li class="nav__item"><a class="nav__link" href="/logout">logout</a></li>
    </ul>
  </nav>
</header>