<h2>authors <%= count %>
</h2>
<% authors.forEach(author=> { %>

  <details>
    <summary>
      <%= author.listname %>
    </summary>
    <% if (!author.books.length) { %>
      <p>no books listed</p>
      <% } else { %>
        <ul>
          <% (author.books).forEach(book=> { %>
            <li>
              <a href="/books/<%= book._id %>">
                <%= book.title %>
              </a>
            </li>
            <% }) %>
        </ul>
        <% } %>
  </details>

  <% }) %>