<h2>authors <%= count %>
</h2>
<% authors.forEach(author=> { %>

  <details>
    <summary>
      <%= author.listname %>
    </summary>
    <p>
      <%= author.fullname %>
    </p>


  </details>

  <% }) %>