// font variables

$sans: Helvetica, Tahoma, Verdana, Trebuchet, Arial, sans-serif;
$serif: 'Times New Roman', Georgia, Garamond, serif;
$mono: 'Courier New';

// sans
$helvetica: Helvetica, Tahoma, Verdana, Trebuchet, Arial, sans-serif;
$tahoma: Tahoma, Helvetica, Verdana, Trebuchet, Arial, sans-serif;
$verdana: Verdana, Helvetica, Tahoma, Trebuchet, Arial, sans-serif;
$trebuchet: Trebuchet, Helvetica, Tahoma, Verdana, Arial, sans-serif;
$lato: 'Lato', Helvetica, Tahoma, Verdana, Arial, sans-serif;
$montserrat: 'Montserrat', Helvetica, Tahoma, Verdana, Arial, sans-serif;
$sourcepro: 'Source Sans Pro', Helvetica, Tahoma, Verdana, Arial, sans-serif;
$opensans: 'Open Sans', Helvetica, Tahoma, Verdana, Arial, sans-serif;
$oswald: 'Oswald', Helvetica, Tahoma, Verdana, Arial, sans-serif; 
$roboto: 'Roboto', Helvetica, Tahoma, Verdana, Arial, sans-serif;
$inter : 'Inter', sans-serif;

// serif
$times: 'Times New Roman', Georgia, Garamond, serif;
$georgia: Georgia, 'Times New Roman', Garamond, serif;
$garamond: Garamond, 'Times New Roman', Georgia, serif;
$lora: 'Lora', 'Times New Roman', Georgia, serif;